/* font */
/* campagnile */
@font-face {
    font-family: campanile;
    src: url(../font/Campanile.ttf);
}
/* game played */
@font-face {
    font-family: gamePlayed;
    src: url("../font/GamePlayed.otf");
}

/* style */
body{
    /* on donne la largeur et la hauteur de base */
    width: 100%; 
    height: 100%; 
    /* on set la margin à 0 par défault */ 
    margin: 0;
    background-color: #141414;
}
/* entête (visage de Luna + titre) */
/* visage de Luna */
#lunaFace{
    width: 100%;
    float: left;
}
#imgLune{
    width: 10%;
    margin-left: 45%;
    margin-top: 1%;
}
#imgOeilGauche{
    width: 15%;
    margin-left: 30%;
    margin-top: 1%; 
}
#imgOeilDroit{
    width: 15%;
    margin-left: 10%;
    margin-top: 1%;
}
#imgBouche{
    width: 40%;
    margin-left: 30%;
}
/* titre de la page */
#titreLuna{
    opacity: 0%;
    width: 60%;
    font-size: 8vw;
    text-align: left;
    float: right;
    color: #dbdbdb;
    font-family: campanile;
}

/* animations */
/* animation qui rétrecit la lune */
@keyframes luneStart {
    0%   {width: 100%; margin-left: 0%;}
    100% {width: 10%; margin-left: 45%;}
}
/* animation qui met le visage de Luna en haut de la page */
@keyframes faceGoLeftStart {
    0%   {width: 100%;margin-left: 0%;}
    100% {width: 20%;margin-left: 20%;}
}
/* animation qui fait apparaitre le titre de la page */
@keyframes titreAppearStart {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}